<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SZMentions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA7B42D11C26F37600CEC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7B42DA1C26F37600CEC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7B43081C26F94B00CEC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7B43111C26F94B00CEC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA8BA2611C26EE0400490E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA8BA27A1C26EE0400490E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
